*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	background-color: #1C345D;
	width: 970px;
	padding: 10px;
	font-size: 12px;
}
#header{
	background-color: red;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}	
#sidebar{
	background-color: #2A7D8C;
	display: inline-block;
	width: 150px;
	border-radius: 5px;
	vertical-align: top;
	padding: 20px 30px;
	margin: 0px;
}
#main_content{
	background-color: #0E1822;
	vertical-align: top;
	display: inline-block;
	width: 650px;
	border-radius: 5px;
	margin: 0px 5px;
	vertical-align: top;
	padding: 30px;
	overflow: visible;
	position: relative;
	left: 40px;
}
#advertisement{
	background-color: #5D6573;
	border-radius: 5px;
	padding: 10px;
	display: block;
	margin-top: 10px;
}
#sidebox{
	margin: 0px 20px;
}

#headerbox{
	background-color: red;
}
.purple{
	color: #7D8BE8;
	text-decoration: none;
}
h1{
	color: #C2D6EC;
}
h2{
	color: #C2D6EC;
}
h5{
	color: #C2D6EC;
}
a{
	color: #6ADDE6;
	font-size: 12px;
}
ul li{
	color: white;
	margin: 10px;
}
span{
	color: #69DDDF;
	text-decoration: underline;

}
p{
	color: white;
}